.saved-note-wrapper {
	padding: 0.75rem;
	background-color: rgb(245, 186, 15);
	border-radius: 0.25rem;
	box-shadow: 0px 5px 10px black;
}

.note-title {
	text-align: center;
	margin: auto;
}

.note-content {
}
.delete-wrapper {
	cursor: pointer;
	margin: 0.2rem;
	text-align: end;
}
.delete-button {
	cursor: pointer;
	background-color: transparent;
	background-repeat: no-repeat;
	border: none !important;
}

.saved-note-dark-mode {
	background-color: rgb(49, 46, 46);
	color: rgb(245, 186, 15);
	box-shadow: 0px 0px 9px rgb(150, 149, 88);
}
.saved-note-dark-mode button {
	color: rgb(245, 186, 15);
}

.hide-initial-note {
	display: none;
}
