.delete-check-wrapper {
	/* background-color: rgb(186, 187, 189); */
	border-radius: 1.5rem;
	/* box-shadow: 0px 5px 10px black; */
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	align-items: center;
	position: absolute;
	top: 7rem;
	left: 50%;
	translate: -50%;
	width: clamp(25%, 300px, 75%);
	padding: 1.5rem;

	background-color: rgb(49, 46, 46);
	box-shadow: 0px 0px 9px rgb(150, 149, 88);
	color: rgb(245, 186, 15);
}

.delete-options {
	display: flex;
}

.delete-options button {
	margin: 3rem;
	background: transparent;
	border: none;
	color: rgb(245, 186, 15);
	cursor: pointer;
	scale: 1.5;
}

.dark {
	background-color: rgb(49, 46, 46);
	box-shadow: 0px 0px 9px rgb(150, 149, 88);
	color: rgb(245, 186, 15);
}
