#notes-page {
	background-color: gray;
	padding: 2rem;
	position: relative;
	max-width: 2560px;
	min-height: 100vh;
}

.notes-grid {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	gap: 1.5rem;
}
